body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #b0d4e3;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #b0d4e3;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.name {
  margin: 10px 0;
}

.registration {
  margin: 10px 0;
  font-size: 18px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.details {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}
img{
  width: 100px;
  height: 50px;
}